.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.home__header {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem 2rem;
  width: 100%;
}
.home__header a {
  margin-right: 1.25rem;
  text-decoration: inherit;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
.home__header a:hover {
  text-decoration: underline;
}
.home__header > .MuiSvgIcon-root {
  margin-right: 1.25rem;
}
.home__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10%;
}
.home__body > img {
  object-fit: contain;
  height: 100px;
}
